<!--
<div class="showcase">
<div class="container app-login">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 class="text-center">
            <b>CBV</b> Web
            <br/>
            <small>Área Restrita</small>
          </h1>
          <br/>
          <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errorCredentials">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            Usuário ou senha inválidos.
          </div>
          <form [formGroup]="f" novalidate>
            <div class="form-group has-feedback" [ngClass]="{'has-success': f.controls['email'].valid,
                'has-error': f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)}">
              <input type="email" formControlName="email" class="form-control" id="InputEmail" placeholder="Email">
              <span *ngIf="f.controls['email'].valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span *ngIf="f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span class="text-danger">E-mail inválido.</span>
              </span>
            </div>

            <div class="form-group" [ngClass]="{'has-success': f.controls['password'].valid,
                 'has-error': f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)}">
              <input type="password" formControlName="password" class="form-control" id="InputPassword" placeholder="Password">
              <span class="text-danger" *ngIf="f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)">Campo obrigatório.</span>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="f.invalid" (click)="onSubmit()">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->


<img class="wave" src="../../../assets/img/login/w.png" alt="">
<div class="container1">
    <div class="img">
        <img src="../../../assets/img/login/bg.svg" alt="">
    </div>
    <div class="login-container">
        <form [formGroup]="f" novalidate>
            <img class="avatar" src="../../../assets/img/login/avatar.svg" alt="">
            <h2>Welcome</h2>
            <div class="input-div one focus">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <!-- <label>E-mail</label> -->
                    <div [ngClass]="{'has-success': f.controls['email'].valid,
                    'has-error': f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)}">
                  <input type="email" formControlName="email" class="input"  id="InputEmail" placeholder="E-mail">
                  <span *ngIf="f.controls['email'].valid"  aria-hidden="true"></span>
                  <span *ngIf="f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)">
                    <span  aria-hidden="true"></span>
                    <span class="text-danger">E-mail inválido.</span>
                  </span>
                </div>
                </div>
            </div>
                <div class="input-div two focus">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                    <div [ngClass]="{'has-success': f.controls['password'].valid,
                    'has-error': f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)}">
                 <input type="password" formControlName="password" class="input" id="InputPassword" placeholder="Password">
                 <span class="text-danger" *ngIf="f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)">Campo obrigatório.</span>
               </div>

             </div>
                </div>
                <a href="#">Forgot Password?</a>
                <input type="submit" class="btn" value="login" [disabled]="f.invalid" (click)="onSubmit()">
        </form>
    </div>
</div>
